DB_URL=sql5.freesqldatabase.com
DB_USER=sql5775579
DB_PASSWORD=I3aij5IFZ8
DB_NAME=sql5775579

DEV_DB_URL=localhost
DEV_DB_USER=root
DEV_DB_PASSWORD=$7N4SfthqQ8E
DEV_DB_NAME=Capstone-Dev

`REACT_APP_API_URL=http://localhost:5000`